In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

In [2]:
scaler = StandardScaler()
df = pd.read_csv('dataset//Salary_Data.csv')

In [3]:
from sklearn.model_selection import train_test_split

In [4]:
X_train,x_test, Y_train,y_test = train_test_split(df[['Age', 'YearsExperience']], df['Salary'], test_size=0.2, random_state=0)

In [5]:
Y_train, y_test

(27    112635
 11     55794
 17     83088
 22    101302
 5      56642
 16     66029
 8      64445
 14     61111
 23    113812
 20     91738
 1      46205
 29    121872
 6      60150
 4      39891
 18     81363
 19     93940
 9      57189
 7      54445
 25    105582
 3      43525
 0      39343
 21     98273
 15     67938
 12     56957
 Name: Salary, dtype: int64,
 2      37731
 28    122391
 13     57081
 10     63218
 26    116969
 24    109431
 Name: Salary, dtype: int64)

In [6]:
X_train.describe()

             Age  YearsExperience
count  24.000000        24.000000
mean   26.745833         5.058333
std     4.780757         2.638497
min    21.000000         1.100000
25%    23.225000         3.150000
50%    25.000000         4.700000
75%    30.000000         6.875000
max    38.000000        10.500000

In [7]:
x_test.describe()

             Age  YearsExperience
count   6.000000         6.000000
mean   29.100000         6.333333
std     6.636867         3.623074
min    21.700000         1.500000
25%    23.925000         3.950000
50%    28.500000         6.400000
75%    34.500000         9.300000
max    37.000000        10.300000

In [8]:
Y_train.describe()

count        24.000000
mean      73886.208333
std       25327.166466
min       39343.000000
25%       56430.000000
50%       65237.000000
75%       95023.250000
max      121872.000000
Name: Salary, dtype: float64

In [9]:
y_test.describe()

count         6.000000
mean      84470.166667
std       36065.434169
min       37731.000000
25%       58615.250000
50%       86324.500000
75%      115084.500000
max      122391.000000
Name: Salary, dtype: float64

In [10]:
scaler.fit(X_train)

StandardScaler()

In [11]:
X_train_scaled = scaler.transform(X_train)

In [12]:
x_test_scaled = scaler.transform(x_test)

In [13]:
X_train_scaled = pd.DataFrame(X_train_scaled, columns=X_train.columns)

In [14]:
x_test_scaled = pd.DataFrame(x_test_scaled, columns = x_test.columns)

In [15]:
X_train_scaled

         Age  YearsExperience
0   1.977345         1.758330
1  -0.586704        -0.409739
2   0.054308         0.093563
3   0.908991         1.100166
4  -0.800375        -0.835610
5  -0.159363         0.016131
6  -0.736274        -0.719463
7  -0.373034        -0.216162
8   1.122662         1.216313
9   0.695320         0.674295
10 -1.120881        -1.455058
11  2.404686         2.106770
12 -0.800375        -0.796894
13 -0.971312        -1.106619
14  0.267979         0.325856
15  0.481649         0.364571
16 -0.672173        -0.525886
17 -0.736274        -0.719463
18  1.550003         1.526037
19 -1.014046        -1.184050
20 -1.227716        -1.532489
21  0.695320         0.790442
22 -0.373034        -0.061300
23 -0.586704        -0.409739

In [16]:
x_test_scaled

        Age  YearsExperience
0 -1.078147        -1.377627
1  2.191015         2.029338
2 -0.586704        -0.371024
3 -0.608071        -0.448455
4  1.763674         1.719614
5  1.336332         1.409890

In [17]:
np.round(X_train_scaled.describe(),1)

        Age  YearsExperience
count  24.0             24.0
mean   -0.0             -0.0
std     1.0              1.0
min    -1.2             -1.5
25%    -0.8             -0.7
50%    -0.4             -0.1
75%     0.7              0.7
max     2.4              2.1

In [19]:
np.round(x_test_scaled.describe(), 1)

       Age  YearsExperience
count  6.0              6.0
mean   0.5              0.5
std    1.4              1.4
min   -1.1             -1.4
25%   -0.6             -0.4
50%    0.4              0.5
75%    1.7              1.6
max    2.2              2.0

In [21]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
scaled_model = LogisticRegression()

In [23]:
model.fit(X_train, Y_train)
scaled_model.fit(X_train_scaled, Y_train)

C:\Users\ayyub\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [36]:
y_pred = model.predict(x_test)
y_pred, y_test

(array([ 39343, 121872,  67938,  67938, 112635, 105582], dtype=int64),
 2      37731
 28    122391
 13     57081
 10     63218
 26    116969
 24    109431
 Name: Salary, dtype: int64)

In [38]:
y_scaled_pred = model.predict(x_test)
y_scaled_pred, y_test

(array([ 39343, 121872,  67938,  67938, 112635, 105582], dtype=int64),
 2      37731
 28    122391
 13     57081
 10     63218
 26    116969
 24    109431
 Name: Salary, dtype: int64)

In [26]:
from sklearn.metrics import accuracy_score

In [39]:
accuracy_score(y_test, y_pred)

0.0

In [29]:
print(accuracy_score(y_scaled_pre, y_test))

SyntaxError: incomplete input (2156194122.py, line 1)