In [1]:
import pandas as pd
import numpy as np

In [2]:
date = pd.read_csv("dataset/orders.csv")
time = pd.read_csv("dataset/messages.csv")

In [3]:
date.head()

         date  product_id  city_id  orders
0  2019-12-10        5628       25       3
1  2018-08-15        3646       14     157
2  2018-10-23        1859       25       1
3  2019-08-17        7292       25       1
4  2019-01-06        4344       25       3

In [4]:
time.head()

                  date                                                msg
0  2013-12-15 00:50:00                           ищу на сегодня мужика 37
1  2014-04-29 23:40:00   ПАРЕНЬ БИ ИЩЕТ ДРУГА СЕЙЧАС!! СМС ММС 0955532826
2  2012-12-30 00:21:00           Днепр.м 43 позн.с д/ж *.о  067.16.34.576
3  2014-11-28 00:31:00  КИЕВ ИЩУ Д/Ж ДО 45 МНЕ СЕЙЧАС СКУЧНО 093 629 9...
4  2013-10-26 23:11:00    Зая я тебя никогда не обижу  люблю тебя!)  Даше

In [5]:
date["date"]

0      2019-12-10
1      2018-08-15
2      2018-10-23
3      2019-08-17
4      2019-01-06
          ...
995    2018-10-08
996    2018-12-06
997    2019-05-07
998    2019-03-03
999    2019-10-15
Name: date, Length: 1000, dtype: object

In [6]:
pd.to_datetime(date["date"])

0     2019-12-10
1     2018-08-15
2     2018-10-23
3     2019-08-17
4     2019-01-06
         ...
995   2018-10-08
996   2018-12-06
997   2019-05-07
998   2019-03-03
999   2019-10-15
Name: date, Length: 1000, dtype: datetime64[ns]

In [7]:
date["date"] = pd.to_datetime(date["date"])

In [8]:
 date["date"].dt.year

0      2019
1      2018
2      2018
3      2019
4      2019
       ...
995    2018
996    2018
997    2019
998    2019
999    2019
Name: date, Length: 1000, dtype: int32

In [9]:
date["date_year"] = date["date"].dt.year

In [10]:
date["date_month"] = date["date"].dt.month

In [11]:
date["date_day"] = date["date"].dt.day

In [12]:
date.head()

        date  product_id  city_id  orders  date_year  date_month  date_day
0 2019-12-10        5628       25       3       2019          12        10
1 2018-08-15        3646       14     157       2018           8        15
2 2018-10-23        1859       25       1       2018          10        23
3 2019-08-17        7292       25       1       2019           8        17
4 2019-01-06        4344       25       3       2019           1         6

In [13]:
date["date"].dt.month_name()

0      December
1        August
2       October
3        August
4       January
         ...
995     October
996    December
997         May
998       March
999     October
Name: date, Length: 1000, dtype: object

---TIME---

In [14]:
time["date"] = pd.to_datetime(time["date"])

In [15]:
time["date"].head()

0   2013-12-15 00:50:00
1   2014-04-29 23:40:00
2   2012-12-30 00:21:00
3   2014-11-28 00:31:00
4   2013-10-26 23:11:00
Name: date, dtype: datetime64[ns]

In [16]:
time["time"] = time["date"].dt.time

In [17]:
time["hour"] = time["date"].dt.hour

In [18]:
time["minute"] = time["date"].dt.minute

In [19]:
time["second"] = time["date"].dt.second

In [20]:
time["date_sep"] = time["date"].dt.date

In [21]:
time.head()

,date,msg,time,hour,minute,second,date_sep
0,2013-12-15 00:50:00,ищу на сегодня мужика 37,00:50:00,0,50,0,2013-12-15
1,2014-04-29 23:40:00,ПАРЕНЬ БИ ИЩЕТ ДРУГА СЕЙЧАС!! СМС ММС 0955532826,23:40:00,23,40,0,2014-04-29
2,2012-12-30 00:21:00,Днепр.м 43 позн.с д/ж *.о 067.16.34.576,00:21:00,0,21,0,2012-12-30
3,2014-11-28 00:31:00,КИЕВ ИЩУ Д/Ж ДО 45 МНЕ СЕЙЧАС СКУЧНО 093 629 9...,00:31:00,0,31,0,2014-11-28
4,2013-10-26 23:11:00,Зая я тебя никогда не обижу люблю тебя!) Даше,23:11:00,23,11,0,2013-10-26