In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.impute import SimpleImputer
from sklearn.model_selection  import train_test_split

In [3]:
si = SimpleImputer(strategy='mean')

In [4]:
df = pd.read_csv("dataset/train.csv", usecols=["Age", "Fare", "Survived"])

In [5]:
X = df.iloc[:,1:3]

In [6]:
y = df.iloc[:,0]

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [8]:
X_train

      Age      Fare
331  45.5   28.5000
733  23.0   13.0000
382  32.0    7.9250
704  26.0    7.8542
813   6.0   31.2750
..    ...       ...
106  21.0    7.6500
270   NaN   31.0000
860  41.0   14.1083
435  14.0  120.0000
102  21.0   77.2875

[712 rows x 2 columns]

In [9]:
y_train

331    0
733    0
382    0
704    0
813    0
      ..
106    1
270    0
860    0
435    1
102    0
Name: Survived, Length: 712, dtype: int64

In [10]:
X_train["Age_imputed"] = si.fit_transform(X_train[["Age"]])

In [11]:
X_train.isnull().sum()

Age            140
Fare             0
Age_imputed      0
dtype: int64

In [12]:
print(f"Original variance:=", X_train["Age"].var())
print(f"after filling, variance:=", X_train["Age_imputed"].var())

Original variance:= 210.2517072477435
after filling, variance:= 168.85193366872227